<p>Aeropuertos get works!</p>

<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <h4 class="card-title center-align">Aeropuerto</h4>
        <form class="">
          <div class="row">
            <div class="col s6">
                <div class="input-field col s12">
                  <i class="material-icons prefix">chevron_right</i>
                  <input type="text" id="autocomplete-input" class="autocomplete">
                  <label for="autocomplete-input">Nombre</label>
                </div>
            </div>
            <div class="col s6">
              <div class="input-field col s12">
                  <i class="material-icons prefix">chevron_right</i>
                  <input type="text" id="autocomplete-input" class="autocomplete">
                  <label for="autocomplete-input">Ciudad</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6 ">
              <div class="input-field col s12">
                  <i class="material-icons prefix">chevron_right</i>
                  <input type="text" id="autocomplete-input" class="autocomplete">
                  <label for="autocomplete-input">Pais</label>
              </div>
            </div>

            <div class="col s6">
              <div class="input-field col s12">
                  <i class="material-icons prefix">chevron_right</i>
                  <input type="text" id="autocomplete-input" class="autocomplete">
                  <label for="autocomplete-input">Coodenada X</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <div class="input-field col s12">
                  <i class="material-icons prefix">chevron_right</i>
                  <input type="text" id="autocomplete-input" class="autocomplete">
                  <label for="autocomplete-input">Corrdenada Y</label>
              </div>
            </div>
            <div class="col s6 ">
              <div class="input-field col s12">
                  <i class="material-icons prefix">chevron_right</i>
                  <input type="text" id="autocomplete-input" class="autocomplete">
                  <label for="autocomplete-input">Siglas</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6 ">
              <div class="input-field col s12">
                <i class="material-icons prefix">chevron_right</i>
                  <label>Seleccione tipo</label>
                  <select class="browser-default">
                    <option value="" disabled selected>Tipo</option>
                    <option value="1">Nacional</option>
                    <option value="2">Internacional</option>
                  </select>
                <br>
              </div>
            </div>
          </div>
          
        </form>
    </div>
  </div>
</div>